
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PanaderiaSHp</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark mb-4">
      <div class="container"> 
          <div class="d-inline">
            <h1 class="navbar-brand">Panaderia si hay pan</h1>
          </div>
          <div class="d-inline">
            <button class="btn btn-outline-warning">
              Pedidos
            </button>
          </div>
      </div>
    </nav>
